<!DOCTYPE html>
<html>
<head></head>
<body>
  <div class="sidebar" style="background-color:#F5EEDD ">
    <ul class="nav flex-column mt-4">
      <li class="nav-item mb-2">
        <a href="http://localhost:4200/podcasts" class="nav-link" routerLink="/podcasts" routerLinkActive="active"><i class="bi bi-headphones"></i> Podcasts</a>
      </li>
      <li class="nav-item mb-2">
        <a href="http://localhost:4200/subscriptions" class="nav-link" routerLink="/subscriptions" routerLinkActive="active"><i class="bi bi-heart-fill"></i> My Subscriptions</a>
      </li>
      <li class="nav-item mb-2">
        <a href="http://localhost:4200/profile" class="nav-link" routerLink="/profile" routerLinkActive="active"><i class="bi bi-person-fill"></i>My Profile</a>
      </li>
    </ul>
  </div>
</body>
</html>
